<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="story1">
            <h1>story1</h1>
            <p>
                <span class="usersWord"><%=noun[1] %></span>
                <span class="usersWord"><%=noun[2] %></span>
                <span class="usersWord"><%=noun[3] %></span>
                <span class="usersWord"><%=noun[4] %></span>
                <span class="usersWord"><%=noun[5] %></span>
            </p>
            <p>
                <span class="usersWord"><%=verb[1] %></span>
                <span class="usersWord"><%=verb[2] %></span>
                <span class="usersWord"><%=verb[3] %></span>
                  
            </p>
            <p>
                <span class="usersWord"><%=adj[1] %></span>
                <span class="usersWord"><%=adj[2] %></span>
                <span class="usersWord"><%=adj[3] %></span>
                <span class="usersWord"><%=adj[4] %></span>
            </p>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>




