<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Your Story</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="main.css"> -->
        <style>
            .story {
                margin: auto;
                width: 60%;
                text-align: center;
            }

            a {
                text-decoration: none;
                color: black;
            }
            button, #sub{
                border: 1px, solid, black;
                background-color: white;
                cursor: pointer;
                display: inline-block;
                border-radius: 4px;  
                font-size: 14px;
                padding: 8px 12px; 
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="story">
            <h1>My Birthday</h1>
            <p>
                My birthday this year was <strong><%=adj[0] %></strong>. 
                We <strong><%=verb[0] %></strong> into a <strong><%=noun[0] %></strong> of mine on the way to the 
                <strong><%=noun[1] %></strong>. She was <strong><%=adj[1] %></strong> and told me to have a 
                <strong><%=adj[2] %></strong> <strong><%=noun[2] %></strong>. 
                Then we saw a <strong><%=noun[3] %></strong> and <strong><%=verb[2] %></strong>. 
                What a <strong><%=adj[3] %></strong> <strong><%=noun[4] %></strong>!
            </p>
            <button><a href="/">Back</a></button>
        </div>
        
        
        <script src="" async defer></script>
    </body>
</html>




